*{
    font-family: 'poppins', sans-serif;
}
.navbar{
    background-color: #372da0;
}
.navbar-brand{
    font-family: Lato;
    font-weight: bold;
    margin-top: -5px;
    font-size: 24px;
}

#home{
    margin-top: 100px;
}
.title{
    margin-top: 70px;
}
#about{
    margin-top: 220px;
    background-color: #0e1a23;
}
#register{
    margin-top: 100px;
}